# Installers
stack/

# Assessments
## Clip
assessments/demo-clip/HELP.md
**/democlip/**/.gitignore

# My Files
**/output/
**/Servers/
poc/
ssl/
training/
workspaces/
node-js/pj-latam/archive/
node-js/pj-latam/dbf/
java/tpp/files/source/tpp.war
java/tpp/files/stack

# Hidden files
.DS_Store
.gradle/
.mvn/
mvnw
mvnw.cmd
HELP.md
target/
src/resources/*.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/node_modules/
*.log

### VS Code ###
**/.vscode/

### Eclipse ###
**/.metadata/
**/.settings/
**/.recommenders/
**/.classpath
**/.project

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
