<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eaiforce</display-name>
  <context-param>
    <description>Database Environment</description>
    <param-name>env</param-name>
    <param-value>dev</param-value>
  </context-param>
  <context-param>
    <description>Upload Temp Directory</description>
    <param-name>temp-directory</param-name>
    <param-value>/Users/sateav/Downloads/upload/</param-value>
  </context-param>
  <context-param>
    <description>Page Size</description>
    <param-name>pageSize</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <description>Search Page Size</description>
    <param-name>searchPageSize</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <description>Aspose License File</description>
    <param-name>aspose-license</param-name>
    <param-value>/Users/sateav/Downloads/Aspose.Pdf.lic</param-value>
  </context-param>
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prospecto</servlet-name>
    <jsp-file>/mainForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>prospecto</servlet-name>
    <url-pattern>/prospecto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>buscar</servlet-name>
    <jsp-file>/mainSearch.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscar</servlet-name>
    <url-pattern>/buscar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>notificaciones</servlet-name>
    <jsp-file>/notifications.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>notificaciones</servlet-name>
    <url-pattern>/notificaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>administracion</servlet-name>
    <jsp-file>/mainAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>administracion</servlet-name>
    <url-pattern>/administracion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>analisis</servlet-name>
    <jsp-file>/dashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>analisis</servlet-name>
    <url-pattern>/analisis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cerrar</servlet-name>
    <jsp-file>/invalidateSession.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cerrar</servlet-name>
    <url-pattern>/cerrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpsertCustomerServlet</servlet-name>
    <servlet-class>force.eai.mx.servlet.UpsertCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpsertCustomerServlet</servlet-name>
    <url-pattern>/upsertCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadCustomerServlet</servlet-name>
    <servlet-class>force.eai.mx.servlet.LoadCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCustomerServlet</servlet-name>
    <url-pattern>/loadCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpsertAttributeServlet</servlet-name>
    <servlet-class>force.eai.mx.servlet.UpsertAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpsertAttributeServlet</servlet-name>
    <url-pattern>/upsertAttribute</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateLoginServlet</servlet-name>
    <url-pattern>/validateLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateLoginServlet</servlet-name>
    <servlet-class>force.eai.mx.servlet.ValidateLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadFormElementsSevlet</servlet-name>
    <url-pattern>/loadFormElements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadFormElementsSevlet</servlet-name>
    <servlet-class>force.eai.mx.servlet.LoadFormElementsSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifyUserServlet</servlet-name>
    <url-pattern>/notifyUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotifyUserServlet</servlet-name>
    <servlet-class>force.eai.mx.servlet.NotifyUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministerDataServlet</servlet-name>
    <url-pattern>/administerData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdministerDataServlet</servlet-name>
    <servlet-class>force.eai.mx.servlet.AdministerDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildDashboardServlet</servlet-name>
    <url-pattern>/buildDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuildDashboardServlet</servlet-name>
    <servlet-class>force.eai.mx.servlet.BuildDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFilesServlet</servlet-name>
    <url-pattern>/uploadFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFilesServlet</servlet-name>
    <servlet-class>force.eai.mx.servlet.UploadFilesServlet</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/eaiforce</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>
</web-app>