.main .box { margin-bottom:10px }
.main .left  { width:50%; vertical-align:top; padding-right:5px; }
.main .right { width:50%; vertical-align:top; padding-left:5px }
.main .left span { height:25px  }

.main .pager td { height:40px; cursor:pointer; }
.main .pager td:hover { background-color:#494949; color:#FFFFFF;  }
.main .pager-green td { background-color:#aee5bf; color:#2d426b; }
.main .pager-green td:first-child { border-color:#54b574; border-width:0px 1px 0px 0px; border-style:solid; }
.main .pager-yellow td { background-color:#EDD975; color:#2d426b; }
.main .pager-yellow td:first-child { border-color:#fbb03c; border-width:0px 1px 0px 0px; border-style:solid; }

.main-div { overflow:auto; overflow-x:hidden; overflow-y:auto }
.main-div-height { height:300px; }

/* Widget Rules */
.widget-desktop 	{ display:table-row }
.widget-tablet 	{ display:none }
.widget-mobile 	{ display:none }
.widget td { height:25px; }
.decreto td { height:25px; }

/* Body */
.widget > tbody > tr > td { padding:0px 10px; }
.widget > tbody > tr > td:nth-child(1) { width:36%; text-align:left }
.widget > tbody > tr > td:nth-child(2) { width:10% }
.widget > tbody > tr > td:nth-child(3) { width:18%; text-align:right }
.widget > tbody > tr > td:nth-child(4) { width:18%; text-align:right }
.widget > tbody > tr > td:nth-child(5) { width:18%; text-align:right }

.decreto > tbody > tr > td { padding:0px 10px; }
.decreto > tbody > tr > td:nth-child(1) { width:16%; }
.decreto > tbody > tr > td:nth-child(2) { width:6%; }
.decreto > tbody > tr > td:nth-child(3) { width:10%; text-align:right }
.decreto > tbody > tr > td:nth-child(4) { width:10%; text-align:right }
.decreto > tbody > tr > td:nth-child(5) { width:6%; }
.decreto > tbody > tr > td:nth-child(6) { width:10%; text-align:right }
.decreto > tbody > tr > td:nth-child(7) { width:10%; text-align:right }
.decreto > tbody > tr > td:nth-child(8) { width:6%; }
.decreto > tbody > tr > td:nth-child(9) { width:10%; text-align:right }
.decreto > tbody > tr > td:nth-child(10) { width:6%; }
.decreto > tbody > tr > td:nth-child(11) { width:10%; text-align:right }

.notificaciones-title { height:35px; background-color:#EAEAEA; }
.notificaciones-title td { color:#0082CA; font-weight:bold; font-size:100%; text-transform:uppercase; text-align:center }

.notificaciones { height:35px }
.notificaciones td:nth-child(1) { width:15%; text-align:left; color:#2d426b; font-weight:bold; font-style:italic }
.notificaciones td:nth-child(2) { width:30%; text-align:left }
.notificaciones td:nth-child(3) { width:15%; }
.notificaciones td:nth-child(4) { width:10%; }
.notificaciones td:nth-child(5) { width:30%; text-align:left }
.notificaciones td { padding:5px 7px }

/* Header */
.widget > tbody > tr:first-child > td { height:30px; color:#0082CA; font-weight:bold; font-size:100%; text-transform:uppercase; background-color:#EAEAEA; text-align:center }
.widget > tbody > tr:first-child > #bold { background-color:#E5E5E5; }

.decreto > tbody > tr:first-child > td { height:30px; color:#0082CA; font-weight:bold; font-size:100%; text-transform:uppercase; background-color:#EAEAEA; text-align:center }
.decreto > tbody > tr:first-child > #bold { background-color:#E5E5E5; }

.decreto > tbody > tr:nth-child(2) > td { height:25px; font-weight:bold; color:#000000; font-size:95%; text-align:center }
.decreto > tbody > tr:nth-child(2) > #bold { background-color:#E5E5E5; }

/* Footer */
.widget > tbody > tr:nth-last-child(2) > td { color:#000000; background-color:#C9C6C6; }
.widget > tbody > tr:nth-last-child(2) > td:first-child { border-radius:0px 0px 0px 5px }
.widget > tbody > tr:nth-last-child(2) > td:last-child { border-radius:0px 0px 5px 0px }
.widget > tbody > tr:nth-last-child(2) > #bold { background-color:#BFBDBD; }
.widget > tbody > tr:nth-last-child(2) > td:nth-child(3) { text-align:right }
.widget > tbody > tr:nth-last-child(2) > td:nth-child(4) { text-align:right }
.widget > tbody > tr:nth-last-child(2) > td:nth-child(5) { text-align:right }

.decreto > tbody > tr:last-child > td { color:#000000; background-color:#C9C6C6; }
.decreto > tbody > tr:last-child > #bold { background-color:#BFBDBD; }

/* Rows */
.widget-row-odd { background-color:#FFFFFF } 
.widget-row-odd td, .widget-row-odd td span { color:#000000; vertical-align:middle }
.widget-row-odd #bold { background-color:#e2e2e2; }
.widget-row-even { background-color:#bce8ca } 
.widget-row-even td, .widget-row-even td span { color:#000000; vertical-align:middle }
.widget-row-even #bold { background-color:#9bddad; }
.widget-row-odd:hover, .widget-row-even:hover, .widget-row-odd:hover #bold, .widget-row-even:hover #bold { background-color:#494949; }

.widget-row-odd:hover td, .widget-row-even:hover td, 
.widget-row-odd:hover #bold td, .widget-row-even:hover #bold td,
.widget-row-odd:hover td span, .widget-row-even:hover td span { color:#FFFFFF }

@media only screen and (max-width: 768px)
	,(min-device-width:768px) and (max-device-width:1024px) and (orientation : landscape)  {
.main .left  { width:100%; padding-right:0px; display:block; }
.main .right { width:100%; padding-left:0px; display:block; }
.main-div-height { height:auto; }

.widget-desktop 	{ display:none }
.widget-tablet 	{ display:none }
.widget-mobile 	{ display:table-row }

.main .pager td { height:50px; }

/* Body */
.widget > tbody > tr > td { padding:0px 0px; }
.widget > tbody > tr > td > table > tbody > tr > td { padding:2px 15px } 
.widget > tbody > tr > td > table > tbody > tr > td:first-child { width:35%; text-align:left }
.widget > tbody > tr > td > table > tbody > tr > td:last-child  { width:65%; text-align:left }
.widget > tbody > tr > td > table > tbody > tr:first-child > td:last-child { font-weight:bold }
.widget > tbody > tr > td > table > tbody > tr:first-child > td:last-child > span { font-weight:bold }

.decreto > tbody > tr > td { padding:0px 0px; }
.decreto > tbody > tr > td > table > tbody > tr > td { padding:2px 5px } 
.decreto > tbody > tr > td > table > tbody > tr > td:first-child { width:35%; text-align:left }
.decreto > tbody > tr > td > table > tbody > tr > td:last-child  { width:65%; text-align:left }
.decreto > tbody > tr > td > table > tbody > tr > td:last-child > span { font-style:italic; display:block }
.decreto > tbody > tr > td > table > tbody > tr:first-child > td:first-child { text-align:right }
.decreto > tbody > tr > td > table > tbody > tr:first-child > td:last-child { font-weight:bold }
.decreto > tbody > tr > td > table > tbody > tr:first-child > td:last-child > span { font-weight:bold; display:inline; margin-left:5px }

.notificaciones-mobile tr td { text-align:left; padding:3px 5px; border-style:solid; border-width:0px 0px 1px 0px; }
.notificaciones-mobile-odd  tr td { border-color:#FFFFFF }
.notificaciones-mobile-even tr td { border-color:#9bddad }
.notificaciones-mobile tr td:first-child { width:30%; font-style:italic; font-size:90% }
.notificaciones-mobile tr td:last-child { width:70%; font-size:95% }

/* Header */
.widget > tbody > tr:first-child { display:none }

/* Footer */
.widget > tbody > tr:last-child td { color:#000000; background-color:#C9C6C6; border-radius:0px 0px 5px 5px }
.widget > tbody > tr:last-child #bold { background-color:#BFBDBD; }

/* rows */
.widget-row-odd-divider td  { border-width:0px 0px 1px 0px; border-style:solid; border-color:#dbdbdb; padding:0px 3px; }
.widget-row-even-divider td { border-width:0px 0px 1px 0px; border-style:solid; border-color:#9fddb1; padding:0px 3px; }
}


@media only screen and (max-width: 320px) {
.widget td, .decreto td { word-break:break-all; }
}
