/* CSS Document */
select {
	width:90%;
	height:30px;
	color:#0082CA;
	margin: 0;
	padding:3px 5px;
	border-color:#D5D2D2;
	border-radius: 0px 0px 5px 0px;
	background:	transparent url("https://www.eaiapps.mx:8443/images/b-select.png") no-repeat right center;
	background-size:30px 30px;
}

input[type=text] {
   width:90%;
	height:30px;
	color:#0082CA;
	margin: 0;
	padding:3px 5px;
	border-color:#D5D2D2;
	border-radius: 0px 0px 5px 0px;
	border-style:solid;
	border-width:1px;
}

input[type=password] {
   width:90%;
	height:30px;
	color:#0082CA;
	margin: 0;
	padding:3px 5px;
	border-color:#D5D2D2;
	border-radius: 0px 0px 5px 0px;
	border-style:solid;
	border-width:1px;
}

input[type=button] {
   width:100px;
	height:30px;
	color:#FFFFFF;
	padding:0px;
	background-color:#0082CA;
	border-style:none;
	border-radius:3px;
	cursor:pointer;
}

textarea {
	width:90%;
	height:60px;
	resize: none;
	color:#0082CA;
	padding-left:5px;
	overflow:hidden;
	border-radius: 0px 0px 5px 0px;
	border-color:#D5D2D2;
}

select.filtro { width:100% }
input[type=text].filtro { width:100% }
input[type=text].fecha { width:80px }
input[type=text].rfc { width:88px }
input[type=text].homoclave { width:40px }
input[type=text].digits-08 { width:70px }
input[type=text].digits-02 { width:25px }
input[type=text].digits-03 { width:40px }
input[type=text].digits-05 { width:50px }
input[type=button].calcular { width:175px; height:30px; }
input[type=button].status { width:90%; height:35px; background-color:#fbb03c; color:#2d426b; font-weight:bold; text-transform:uppercase }
textarea.razonSocial { height:45px }
textarea.seguimiento { width:100%; height:75px; }
textarea.seguimiento-lista { width:100%; height:50px; background-color:#F2F2F2; font-style:italic }

input[type=text].login { width:220px }
input[type=button].login { width:220px; height:40px; margin:5px auto; border-radius:8px; background-color:#54b574; font-size:110% }
input[type=password].login { width:220px }

.required { color:#F00000 }

@media only screen and (max-width:768px)
	,(min-device-width:768px) and (max-device-width:1024px)
	,(min-device-width:768px) and (max-device-width:1024px) and (orientation : landscape)  {	
select { width:95%; height:45px; background-size:45px 45px; }
input[type=text] { width:95%; height:45px; padding-left:10px }
input[type=password] { width:95%; height:45px; padding-left:10px }
input[type=button] { width:95%; height:55px; border-radius:10px; }
textarea { width:95%; }

input[type=text].fecha { width:130px }
input[type=text].rfc { width:150px }
input[type=text].homoclave { width:60px }
input[type=text].digits-02 { width:40px }
input[type=text].digits-03 { width:60px }
input[type=text].digits-05 { width:85px }
input[type=text].digits-08 { width:110px }
input[type=button].login { height:60px; }
input[type=button].calcular { width:60%; height:50px; }
input[type=button].status { height:50px; }
textarea.razonSocial { height:60px; }
textarea.seguimiento { height:125px; }
textarea.seguimiento-lista { height:75px; }
}

@media only screen and (max-width: 667px) {
select { height:40px; background-size:40px 40px; }
input[type=text] { height:40px; }
input[type=password] { height:40px; }
input[type=button] { height:50px; }

input[type=text].fecha { width:100px }
input[type=text].rfc { width:120px }
input[type=text].homoclave { width:50px }
input[type=text].digits-02 { width:40px }
input[type=text].digits-03 { width:45px }
input[type=text].digits-08 { width:100px }
input[type=button].calcular { height:40px; }
input[type=button].status { height:45px; }
}

@media only screen and (max-width: 480px) {
select { width:95% }
select.filtro { width:100% }
input[type=text] { width:95%; padding-left:5px }
input[type=password] { width:95%; padding-left:8px }
input[type=button] { width:95%; height:50px; }
input[type=button].status { width:95%; height:40px; margin-bottom:10px; }
input[type=button].calcular { width:95%; height:40px; }
input[type=text].digits-02 { width:40px }
input[type=text].digits-03 { width:45px }
input[type=text].digits-08 { width:85px }

textarea { width:95% }
textarea.seguimiento { height:100px; }
textarea.seguimiento-lista { height:55px; }
}

@media only screen and (max-width: 320px) {
input[type=text].fecha { width:100px }
input[type=text].rfc { width:120px }
input[type=text].homoclave { width:50px }
}