/* CSS Document */
body { padding:0; margin:0 }

.upload { width:100%; }
.upload td { text-align:left; font-family:Arial; font-size:12px; font-weight:normal; color:#0082CA; }
.upload img { width:20px; height:20px }
.upload .info td { padding:5px 3px }
.upload .info td:first-child { width:10% }
.upload .info td:last-child { width:90% }
.upload .info .link { cursor:pointer; color:#0082CA }
.upload .info .fecha { color:#000000; font-style:italic }

.upload .label { padding-right:5px; }
.upload .label td { height:35px; color:#FFFFFF; background-color: #54b574; border-radius:5px; text-align:center; cursor:pointer } 
.upload .label td:hover { background-color: #494949; }
.upload .button { width:25%; height:35px; cursor:pointer; text-align:center; border-radius:5px; background-color:#0082CA; fill:#FFFFFF }
.upload .button:hover { background-color: #494949; } 

.inputfile { position: absolute; z-index: -1; width: 0px; height: 0px; opacity: 0; overflow: hidden; }

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation : landscape)  {
.upload td { font-size:20px;}
}

@media only screen and (max-device-width: 667px) {
.upload td { font-size:16px; }
.upload .label td { height:45px; }
.upload .button { height:45px;  } 
}

@media only screen and (max-device-width: 480px) {
}